<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInstituicao</servlet-name>
        <servlet-class>controller.AddInstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInstituicao</servlet-name>
        <servlet-class>controller.EditInstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInstituicao</servlet-name>
        <servlet-class>controller.DeleteInstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInstitution</servlet-name>
        <servlet-class>controller.SearchInstitution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doacao</servlet-name>
        <servlet-class>controller.Doacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoacaoServlet</servlet-name>
        <servlet-class>controller.DoacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttInstituicao</servlet-name>
        <servlet-class>controller.AttInstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controller.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParticipaEvento</servlet-name>
        <servlet-class>controller.ParticipaEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteParticipacao</servlet-name>
        <servlet-class>controller.DeleteParticipacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEvent</servlet-name>
        <servlet-class>controller.DeleteEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInstituicao</servlet-name>
        <url-pattern>/AddInstituicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInstituicao</servlet-name>
        <url-pattern>/EditInstituicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInstituicao</servlet-name>
        <url-pattern>/DeleteInstituicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInstitution</servlet-name>
        <url-pattern>/SearchInstitution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doacao</servlet-name>
        <url-pattern>/Doacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoacaoServlet</servlet-name>
        <url-pattern>/DoacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttInstituicao</servlet-name>
        <url-pattern>/AttInstituicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipaEvento</servlet-name>
        <url-pattern>/ParticipaEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteParticipacao</servlet-name>
        <url-pattern>/DeleteParticipacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEvent</servlet-name>
        <url-pattern>/DeleteEvent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
